## Requirements
1. Apache Spark binary (https://spark.apache.org/)
2. For Windows: winutils (https://medium.com/@dvainrub/how-to-install-apache-spark-2-x-in-your-pc-e2047246ffc3)
3. Setting ```JAVA_HOME```, ```SPARK_HOME```, and ```HADOOP_HOME```
4. Python 3.x (from Anaconda distribution)
5. ```findspark``` https://pypi.org/project/findspark/
6. Jupyter Notebook (available from Anaconda installation)

### References
https://spark.apache.org/docs/2.3.3/sql-programming-guide.html

## Spark Initialization

In [1]:
# Import findspark to read SPARK_HOME and HADOOP_HOME
import findspark
findspark.init()

In [2]:
# Import required library
from pyspark.sql import SparkSession

# Create Spark Session
spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .getOrCreate()

In [3]:
# Print Spark object ID
print(spark)

<pyspark.sql.session.SparkSession object at 0x10b22bba8>

## Loading Data using Spark

In [4]:
df = spark.read.csv("/Users/gunstringer/Downloads/epa_hap_daily_summary.csv", header=True, inferSchema=True)

In [5]:
df.show()

+----------+-----------+--------+--------------+---+---------+-----------+-------+--------------------+---------------+------------------+-------------------+--------------------+----------+-----------------+-------------------+---------------+---------------+--------------+----+-----------+--------------------+--------------------+--------------------+------------+----------------+-------------+--------------------+-------------------+
|state_code|county_code|site_num|parameter_code|poc| latitude|  longitude|  datum|      parameter_name|sample_duration|pollutant_standard|         date_local|    units_of_measure|event_type|observation_count|observation_percent|arithmetic_mean|first_max_value|first_max_hour| aqi|method_code|         method_name|     local_site_name|             address|  state_name|     county_name|    city_name|           cbsa_name|date_of_last_change|
+----------+-----------+--------+--------------+---+---------+-----------+-------+--------------------+---------------+------------------+-------------------+--------------------+----------+-----------------+-------------------+---------------+---------------+--------------+----+-----------+--------------------+--------------------+--------------------+------------+----------------+-------------+--------------------+-------------------+
|        42|        125|    5001|         88103|  5|40.445278| -80.420833|  WGS84|    Arsenic PM2.5 LC|        24 HOUR|              null|2005-12-30 00:00:00|Micrograms/cubic ...|      None|                1|              100.0|          0.003|          0.003|             0|null|        811|Met OneSASS Teflo...|                null|HILLMAN STATE PAR...|Pennsylvania|      Washington|Not in a city|       Pittsburgh PA|2015-07-22 00:00:00|
|        48|        439|    1002|         43843| 15|32.805818| -97.356568|  WGS84|  Ethylene dibromide|        24 HOUR|              null|2013-09-19 00:00:00|Parts per billion...|      None|                1|              100.0|            0.0|            0.0|             0|null|        175|Passivated Canist...|Fort Worth Northwest|       3317 Ross Ave|       Texas|         Tarrant|   Fort Worth|Dallas-Fort Worth...|2014-03-25 00:00:00|
|        22|        127|    9000|         88128|  1|32.057581| -92.435157|  WGS84|       Lead PM2.5 LC|        24 HOUR|              null|2001-11-12 00:00:00|Micrograms/cubic ...|      None|                1|              100.0|        0.00228|        0.00228|             0|null|        802|IMPROVE Module A ...|                null|               Sikes|   Louisiana|            Winn|Not in a city|                null|2015-07-22 00:00:00|
|        18|         89|      22|         45201|  1| 41.60668| -87.304729|  WGS84|             Benzene|         1 HOUR|              null|2016-05-23 00:00:00|Parts per billion...|      None|               23|               96.0|       0.413913|            1.4|             2|null|        128|PRECONCENTRATION ...|Gary-IITRI/ 1219....|201 MISSISSIPPI S...|     Indiana|            Lake|         Gary|Chicago-Napervill...|2017-02-20 00:00:00|
|         6|         89|    3003|         88136|  1| 40.53999| -121.57646|  NAD83|     Nickel PM2.5 LC|        24 HOUR|              null|2001-08-02 00:00:00|Micrograms/cubic ...|      None|                1|              100.0|         1.3E-4|         1.3E-4|             0|null|        802|IMPROVE Module A ...|Lassen Volcanic N...|MANZANITA LAKE RS...|  California|          Shasta|Not in a city|          Redding CA|2015-07-22 00:00:00|
|        26|        163|      33|         82128|  1|42.306674| -83.148754|  WGS84|       Lead PM10 STP|        24 HOUR|              null|2008-10-03 00:00:00|Micrograms/cubic ...|      None|                1|              100.0|         0.0163|         0.0163|             0|null|        109|Hi Vol SA/GMW 321...|PROPERTY OWNED BY...|        2842 WYOMING|    Michigan|           Wayne|     Dearborn|Detroit-Warren-De...|2015-07-22 00:00:00|
|         6|         83|    9000|         88128|  1|34.733889|-120.008349|  WGS84|       Lead PM2.5 LC|        24 HOUR|              null|2015-08-04 00:00:00|Micrograms/cubic ...|      None|                1|              100.0|            0.0|            0.0|             0|null|        800|IMPROVE Module A ...|San Rafael Wilder...|          San Rafael|  California|   Santa Barbara|Not in a city|Santa Maria-Santa...|2016-08-30 00:00:00|
|        72|         61|       1|         88136|  5|18.425652| -66.115846|  WGS84|     Nickel PM2.5 LC|        24 HOUR|              null|2002-10-29 00:00:00|Micrograms/cubic ...|      None|                1|              100.0|         0.0127|         0.0127|             0|null|        811|Met One SASS Tefl...|                null|USGS AND WATER RE...| Puerto Rico|        Guaynabo|     Guaynabo|San Juan-Carolina...|2015-07-22 00:00:00|
|        29|        510|      85|         43505|  6|38.656498| -90.198646|  NAD83|Acrolein - Unveri...|        24 HOUR|              null|2006-02-10 00:00:00|Parts per billion...|      None|                1|              100.0|            0.0|            0.0|             0|null|        101|CANISTER SUBAMBIE...|        Blair Street|BLAIR STREET: 324...|    Missouri|  St. Louis City|    St. Louis|     St. Louis MO-IL|2015-07-22 00:00:00|
|         6|         77|    1002|         12112|  8|37.950741|-121.268523|  NAD83|  Chromium (TSP) STP|        24 HOUR|              null|1992-10-03 00:00:00|Micrograms/cubic ...|      None|                1|              100.0|          0.003|          0.003|             0|null|        304|LO-VOL-XONTECH 92...|   Stockton-Hazelton|HAZELTON-HD STOCKTON|  California|     San Joaquin|     Stockton|    Stockton-Lodi CA|2013-06-11 00:00:00|
|        24|        510|       6|         43831|  1|39.340556| -76.582222|  WGS84|cis-13-Dichloropr...|        24 HOUR|              null|2008-10-27 00:00:00|Parts per billion...|      None|                1|              100.0|            0.0|            0.0|             0|null|        150|SS 6L- PRESSURIZE...|    Northeast Police|Northeast  Police...|    Maryland|Baltimore (City)|    Baltimore|Baltimore-Columbi...|2013-06-11 00:00:00|
|        49|         17|     101|         88132|  1|37.618383|-112.174368|  WGS84|  Manganese PM2.5 LC|        24 HOUR|              null|2010-05-11 00:00:00|Micrograms/cubic ...|      None|                1|              100.0|          0.001|          0.001|             0|null|        800|IMPROVE Module A ...|                null|     Bryce Canyon NP|        Utah|        Garfield|Not in a city|                null|2015-07-28 00:00:00|
|        16|         23|     101|         88136|  1|43.460556|-113.562222|  WGS84|     Nickel PM2.5 LC|        24 HOUR|              null|2014-12-07 00:00:00|Micrograms/cubic ...|      None|                1|              100.0|            0.0|            0.0|             0|null|        800|IMPROVE Module A ...|Craters of the Mo...|CRATERS OF THE MO...|       Idaho|           Butte|Not in a city|      Idaho Falls ID|2015-07-31 00:00:00|
|        26|         77|     905|         82128|  1|42.278056| -85.541944|UNKNOWN|       Lead PM10 STP|        24 HOUR|              null|1994-04-08 00:00:00|Micrograms/cubic ...|      None|                1|              100.0|           0.01|           0.01|             0|null|        103|HI-VOL-WEDDING-IN...|                null|FAIRGROUNDS 2500 ...|    Michigan|       Kalamazoo|    Kalamazoo|Kalamazoo-Portage MI|2013-06-11 00:00:00|
|        48|        141|      44|         43824|  3|31.765685|-106.455227|  NAD83|   Trichloroethylene|        24 HOUR|              null|2006-05-05 00:00:00|Parts per billion...|      None|                1|              100.0|           0.01|           0.01|             0|null|        175|Passivated Canist...|    El Paso Chamizal|800 S San Marcial...|       Texas|         El Paso|      El Paso|          El Paso TX|2013-06-11 00:00:00|
|        48|        183|       1|         43817|  1|32.378682| -94.711811|  NAD83| Tetrachloroethylene|        24 HOUR|              null|2000-04-12 00:00:00|Parts per billion...|      None|                1|              100.0|            0.0|            0.0|             0|null|        149|6L SUBATM CANISTE...|            Longview|Gregg Co Airport ...|       Texas|           Gregg|     Longview|         Longview TX|2013-06-11 00:00:00|
|        48|        141|      44|         43218|  1|31.765685|-106.455227|  NAD83|        13-Butadiene|         1 HOUR|              null|2002-07-16 00:00:00|Parts per billion...|      None|               22|               92.0|       0.595455|            1.6|             5|null|        128|PRECONCENTRATION ...|    El Paso Chamizal|800 S San Marcial...|       Texas|         El Paso|      El Paso|          El Paso TX|2013-06-11 00:00:00|
|        32|         33|     101|         88112|  1| 39.00512| -114.21593|  NAD83|   Chromium PM2.5 LC|        24 HOUR|              null|2001-11-09 00:00:00|Micrograms/cubic ...|      None|                1|              100.0|            0.0|            0.0|             0|null|        802|IMPROVE Module A ...|Great Basin Natio...|GREAT BASIN NATIO...|      Nevada|      White Pine|Not in a city|                null|2015-07-22 00:00:00|
|        27|        163|     436|         43803|  2| 44.84737|   -92.9954|  WGS84|          Chloroform|        24 HOUR|              null|2011-03-28 00:00:00|Parts per billion...|      None|                1|              100.0|           0.01|           0.01|             0|null|        113|SS-CANISTER-PRESS...|             MPC 436|    649 FIFTH STREET|   Minnesota|      Washington|St. Paul Park|Minneapolis-St. P...|2013-06-10 00:00:00|
|        34|         39|       4|         88132|  5| 40.64144| -74.208365|  WGS84|  Manganese PM2.5 LC|        24 HOUR|              null|2002-03-24 00:00:00|Micrograms/cubic ...|      None|                1|              100.0|         0.0043|         0.0043|             0|null|        811|Met One SASS Tefl...|       Elizabeth Lab|Interchange 13 Ne...|  New Jersey|           Union|    Elizabeth|New York-Newark-J...|2015-07-22 00:00:00|
+----------+-----------+--------+--------------+---+---------+-----------+-------+--------------------+---------------+------------------+-------------------+--------------------+----------+-----------------+-------------------+---------------+---------------+--------------+----+-----------+--------------------+--------------------+--------------------+------------+----------------+-------------+--------------------+-------------------+
only showing top 20 rows

In [126]:
df.printSchema()

root
 |-- state_code: integer (nullable = true)
 |-- county_code: integer (nullable = true)
 |-- site_num: integer (nullable = true)
 |-- parameter_code: integer (nullable = true)
 |-- poc: integer (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- datum: string (nullable = true)
 |-- parameter_name: string (nullable = true)
 |-- sample_duration: string (nullable = true)
 |-- pollutant_standard: string (nullable = true)
 |-- date_local: timestamp (nullable = true)
 |-- units_of_measure: string (nullable = true)
 |-- event_type: string (nullable = true)
 |-- observation_count: integer (nullable = true)
 |-- observation_percent: double (nullable = true)
 |-- arithmetic_mean: double (nullable = true)
 |-- first_max_value: double (nullable = true)
 |-- first_max_hour: integer (nullable = true)
 |-- aqi: string (nullable = true)
 |-- method_code: integer (nullable = true)
 |-- method_name: string (nullable = true)
 |-- local_site_name: string (nullable = true)
 |-- address: string (nullable = true)
 |-- state_name: string (nullable = true)
 |-- county_name: string (nullable = true)
 |-- city_name: string (nullable = true)
 |-- cbsa_name: string (nullable = true)
 |-- date_of_last_change: timestamp (nullable = true)

In [8]:
# Register the DataFrame as a SQL temporary view
df.createOrReplaceTempView("pollution")

In [29]:
row_count = spark.sql ("SELECT COUNT(1)FROM pollution")

In [30]:
row_count.show()

+--------+
|count(1)|
+--------+
| 8097069|
+--------+

In [9]:
result = spark.sql("SELECT DISTINCT parameter_name FROM pollution")

In [10]:
result.show()

+--------------------+
|      parameter_name|
+--------------------+
|             Benzene|
|Chromium VI (TSP) LC|
|  12-Dichloropropane|
|Acrolein - Unveri...|
| Tetrachloroethylene|
|       Lead PM10 STP|
|     Nickel PM10 STP|
|    Nickel (TSP) STP|
|   Chromium PM10 STP|
|  Ethylene dibromide|
|    Mercury PM10 STP|
|  Chromium (TSP) STP|
|cis-13-Dichloropr...|
|      Vinyl chloride|
|   Trichloroethylene|
|       Lead PM2.5 LC|
|          Chloroform|
|  Manganese PM10 STP|
|        Acetaldehyde|
|  Beryllium PM2.5 LC|
+--------------------+
only showing top 20 rows

## Data Mining Process

In [65]:
# Mencari rata rata konsentrasi air polutant terbesar dalam suatu state (ex: pennsylvania)

query1 = spark.sql ("SELECT parameter_name, AVG(arithmetic_mean),units_of_measure FROM pollution\
                        WHERE state_name = 'Pennsylvania' \
                        GROUP BY parameter_name, units_of_measure \
                        ORDER BY AVG(arithmetic_mean) DESC")

In [66]:
query1.show()

+--------------------+--------------------+--------------------+
|      parameter_name|avg(arithmetic_mean)|    units_of_measure|
+--------------------+--------------------+--------------------+
|        Formaldehyde|  2.6133003936669663|Parts per billion...|
|             Benzene|  2.2339411705663816|Parts per billion...|
|        Acetaldehyde|  2.0236999796918775|Parts per billion...|
|   Trichloroethylene| 0.24696496444731733|Parts per billion...|
|     Dichloromethane|  0.2274077303487766|Parts per billion...|
|Acrolein - Unveri...| 0.22246105104761915|Parts per billion...|
| Tetrachloroethylene| 0.20841215255332896|Parts per billion...|
|        13-Butadiene| 0.20047134502923972|Parts per billion...|
|Carbon tetrachloride| 0.09884115055713964|Parts per billion...|
|          Chloroform| 0.03560626050963646|Parts per billion...|
| Beryllium (TSP) STP| 0.02544813278008298|Nanograms/cubic m...|
| Manganese (TSP) STP|0.025297648530331437|Micrograms/cubic ...|
| Ethylene dichloride|0.023378231644260547|Parts per billion...|
|      Vinyl chloride| 0.00679436109674082|Parts per billion...|
|  12-Dichloropropane|0.006779113351428201|Parts per billion...|
|  Chromium (TSP) STP| 0.00611318138651472|Micrograms/cubic ...|
|    Nickel (TSP) STP|0.005194829527682205|Micrograms/cubic ...|
|       Lead PM2.5 LC|0.004860791895866215|Micrograms/cubic ...|
|  Manganese PM2.5 LC|0.002959223898480...|Micrograms/cubic ...|
|  Ethylene dibromide|0.002640238372846...|Parts per billion...|
+--------------------+--------------------+--------------------+
only showing top 20 rows

In [75]:
# state yang memiliki rata rata suatu air polutant (ex: Benzene) paling banyak

query2 = spark.sql ("SELECT state_name, AVG(arithmetic_mean), units_of_measure FROM pollution\
                        WHERE parameter_name = 'Benzene'\
                        GROUP BY state_name, units_of_measure\
                        ORDER BY AVG(arithmetic_mean) DESC")

In [76]:
query2.show()

+-----------------+--------------------+--------------------+
|       state_name|avg(arithmetic_mean)|    units_of_measure|
+-----------------+--------------------+--------------------+
|Country Of Mexico|   8.708797468354431|Parts per billion...|
|          Alabama|   6.430967802146523|Parts per billion...|
|           Kansas|   5.406358490566038|Parts per billion...|
|           Alaska|   4.649691056910569|Parts per billion...|
|       New Mexico|  4.2419974639498434|Parts per billion...|
|         Missouri|  4.0470664072806475|Parts per billion...|
|         Colorado|   3.530716491661107|Parts per billion...|
|          Arizona|  3.2813660599781884|Parts per billion...|
|            Texas|   3.165615802749503|Parts per billion...|
|         Arkansas|  3.1010606060606065|Parts per billion...|
|             Utah|   3.088827945776851|Parts per billion...|
|      Puerto Rico|   3.016304182509505|Parts per billion...|
|       California|  2.9796335305933703|Parts per billion...|
|             Ohio|    2.78797701521528|Parts per billion...|
|         Maryland|  2.5123662364128325|Parts per billion...|
|         New York|  2.5023879841191494|Parts per billion...|
|            Idaho|  2.4039002624671917|Parts per billion...|
|          Florida|  2.4032083447717723|Parts per billion...|
|         Michigan|   2.370403475363904|Parts per billion...|
|        Louisiana|  2.3645278055383474|Parts per billion...|
+-----------------+--------------------+--------------------+
only showing top 20 rows

In [119]:
# nilai rata-rata konsentrasi zat polutan dari tahun ke tahun pada US

query3 = spark.sql ("SELECT EXTRACT (YEAR FROM date_local), parameter_name, AVG(arithmetic_mean), units_of_measure FROM pollution\
                    GROUP BY EXTRACT(YEAR FROM date_local), units_of_measure, parameter_name \
                    ORDER BY EXTRACT(YEAR FROM date_local) DESC")

In [120]:
query3.show()

+------------------------------+--------------------+--------------------+--------------------+
|year(CAST(date_local AS DATE))|      parameter_name|avg(arithmetic_mean)|    units_of_measure|
+------------------------------+--------------------+--------------------+--------------------+
|                          2017|   Trichloroethylene|0.003557620817843...|Parts per billion...|
|                          2017|  Chromium (TSP) STP|0.006750087719298247|Micrograms/cubic ...|
|                          2017|        13-Butadiene| 0.10028373702422147|Parts per billion...|
|                          2017|      Vinyl chloride|                 0.0|Parts per billion...|
|                          2017|     Dichloromethane|  0.6513717472118958|Parts per billion...|
|                          2017|             Benzene|  1.6149861979010498|Parts per billion...|
|                          2017|1122-Tetrachloroe...|            3.125E-4|Parts per billion...|
|                          2017|trans-13-Dichloro...| 0.02972010178117048|Parts per billion...|
|                          2017|  Manganese PM10 STP|  16.464444444444442|Nanograms/cubic m...|
|                          2017|          Chloroform|0.014985130111524166|Parts per billion...|
|                          2017|  Beryllium PM10 STP|                 0.0|Nanograms/cubic m...|
|                          2017| Tetrachloroethylene|0.020527881040892197|Parts per billion...|
|                          2017|  Ethylene dibromide|0.001505376344086...|Parts per billion...|
|                          2017|Carbon tetrachloride| 0.08852985074626868|Parts per billion...|
|                          2017| Ethylene dichloride|0.004580645161290...|Parts per billion...|
|                          2017|  12-Dichloropropane|           7.8125E-4|Parts per billion...|
|                          2017|    Arsenic PM10 STP|               1.072|Nanograms/cubic m...|
|                          2017|   Chromium PM10 STP|               23.08|Nanograms/cubic m...|
|                          2017|Acrolein - Unveri...|  0.8333516483516484|Parts per billion...|
|                          2017| Acrolein - Verified|   1.674871794871795|Parts per billion...|
+------------------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [121]:
# nilai konsentrasi benzene dari tahun ke tahun pada US

query4 = spark.sql ("SELECT EXTRACT (YEAR FROM date_local), AVG(arithmetic_mean), units_of_measure FROM pollution\
                    WHERE parameter_name = 'Benzene' \
                    GROUP BY EXTRACT(YEAR FROM date_local), units_of_measure \
                    ORDER BY EXTRACT(YEAR FROM date_local) DESC")

In [122]:
query4.show()

+------------------------------+--------------------+--------------------+
|year(CAST(date_local AS DATE))|avg(arithmetic_mean)|    units_of_measure|
+------------------------------+--------------------+--------------------+
|                          2017|  1.6149861979010498|Parts per billion...|
|                          2016|  1.2660918363206974|Parts per billion...|
|                          2015|  1.3288374331274566|Parts per billion...|
|                          2014|   1.324096420975431|Parts per billion...|
|                          2013|   1.451811187132259|Parts per billion...|
|                          2012|   1.603766487430922|Parts per billion...|
|                          2011|  1.5579733075711695|Parts per billion...|
|                          2010|  1.7227266005456587|Parts per billion...|
|                          2009|   1.894231711105646|Parts per billion...|
|                          2008|  2.3998395963532064|Parts per billion...|
|                          2007|  2.1549146476617076|Parts per billion...|
|                          2006|  2.1611982857310266|Parts per billion...|
|                          2005|   2.524185586363823|Parts per billion...|
|                          2004|  2.3579587869236303|Parts per billion...|
|                          2003|  2.6067226590305443|Parts per billion...|
|                          2002|   2.591102267914845|Parts per billion...|
|                          2001|  3.0948410008970404|Parts per billion...|
|                          2000|   3.103127915706775|Parts per billion...|
|                          1999|  2.9931887320577117|Parts per billion...|
|                          1998|  3.0668340231472353|Parts per billion...|
+------------------------------+--------------------+--------------------+
only showing top 20 rows

In [130]:
import plotly.plotly as py
import plotly.graph_objs as go
import pandas as pd

data = [go.Histogram(x=query4.toPandas()['d1'])]
py.iplot(data, filename="spark/less_2_hour_rides")

Py4JJavaError: An error occurred while calling o1753.collectToPython.
: org.apache.spark.sql.catalyst.errors.package$TreeNodeException: execute, tree:
Exchange rangepartitioning(year(CAST(date_local AS DATE))#930 DESC NULLS LAST, 200)
+- *(2) HashAggregate(keys=[year(cast(date_local#21 as date))#954, units_of_measure#22], functions=[avg(arithmetic_mean#26)], output=[year(CAST(date_local AS DATE))#930, avg(arithmetic_mean)#929, units_of_measure#22])
   +- Exchange hashpartitioning(year(cast(date_local#21 as date))#954, units_of_measure#22, 200)
      +- *(1) HashAggregate(keys=[year(cast(date_local#21 as date)) AS year(cast(date_local#21 as date))#954, units_of_measure#22], functions=[partial_avg(arithmetic_mean#26)], output=[year(cast(date_local#21 as date))#954, units_of_measure#22, sum#947, count#948L])
         +- *(1) Project [date_local#21, units_of_measure#22, arithmetic_mean#26]
            +- *(1) Filter (isnotnull(parameter_name#18) && (parameter_name#18 = Benzene))
               +- *(1) FileScan csv [parameter_name#18,date_local#21,units_of_measure#22,arithmetic_mean#26] Batched: false, Format: CSV, Location: InMemoryFileIndex[file:/Users/gunstringer/Downloads/epa_hap_daily_summary.csv], PartitionFilters: [], PushedFilters: [IsNotNull(parameter_name), EqualTo(parameter_name,Benzene)], ReadSchema: struct<parameter_name:string,date_local:timestamp,units_of_measure:string,arithmetic_mean:double>

	at org.apache.spark.sql.catalyst.errors.package$.attachTree(package.scala:56)
	at org.apache.spark.sql.execution.exchange.ShuffleExchangeExec.doExecute(ShuffleExchangeExec.scala:119)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:131)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:127)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$executeQuery$1.apply(SparkPlan.scala:155)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.sql.execution.SparkPlan.executeQuery(SparkPlan.scala:152)
	at org.apache.spark.sql.execution.SparkPlan.execute(SparkPlan.scala:127)
	at org.apache.spark.sql.execution.InputAdapter.inputRDDs(WholeStageCodegenExec.scala:374)
	at org.apache.spark.sql.execution.SortExec.inputRDDs(SortExec.scala:121)
	at org.apache.spark.sql.execution.WholeStageCodegenExec.doExecute(WholeStageCodegenExec.scala:610)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:131)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:127)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$executeQuery$1.apply(SparkPlan.scala:155)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.sql.execution.SparkPlan.executeQuery(SparkPlan.scala:152)
	at org.apache.spark.sql.execution.SparkPlan.execute(SparkPlan.scala:127)
	at org.apache.spark.sql.execution.SparkPlan.getByteArrayRdd(SparkPlan.scala:247)
	at org.apache.spark.sql.execution.SparkPlan.executeCollect(SparkPlan.scala:296)
	at org.apache.spark.sql.Dataset$$anonfun$collectToPython$1.apply(Dataset.scala:3258)
	at org.apache.spark.sql.Dataset$$anonfun$collectToPython$1.apply(Dataset.scala:3255)
	at org.apache.spark.sql.Dataset$$anonfun$53.apply(Dataset.scala:3365)
	at org.apache.spark.sql.execution.SQLExecution$$anonfun$withNewExecutionId$1.apply(SQLExecution.scala:78)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:125)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:73)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:3364)
	at org.apache.spark.sql.Dataset.collectToPython(Dataset.scala:3255)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.base/java.lang.Thread.run(Thread.java:834)
Caused by: java.lang.IllegalArgumentException: Unsupported class file major version 55
	at org.apache.xbean.asm6.ClassReader.<init>(ClassReader.java:166)
	at org.apache.xbean.asm6.ClassReader.<init>(ClassReader.java:148)
	at org.apache.xbean.asm6.ClassReader.<init>(ClassReader.java:136)
	at org.apache.xbean.asm6.ClassReader.<init>(ClassReader.java:237)
	at org.apache.spark.util.ClosureCleaner$.getClassReader(ClosureCleaner.scala:49)
	at org.apache.spark.util.FieldAccessFinder$$anon$3$$anonfun$visitMethodInsn$2.apply(ClosureCleaner.scala:517)
	at org.apache.spark.util.FieldAccessFinder$$anon$3$$anonfun$visitMethodInsn$2.apply(ClosureCleaner.scala:500)
	at scala.collection.TraversableLike$WithFilter$$anonfun$foreach$1.apply(TraversableLike.scala:733)
	at scala.collection.mutable.HashMap$$anon$1$$anonfun$foreach$2.apply(HashMap.scala:134)
	at scala.collection.mutable.HashMap$$anon$1$$anonfun$foreach$2.apply(HashMap.scala:134)
	at scala.collection.mutable.HashTable$class.foreachEntry(HashTable.scala:236)
	at scala.collection.mutable.HashMap.foreachEntry(HashMap.scala:40)
	at scala.collection.mutable.HashMap$$anon$1.foreach(HashMap.scala:134)
	at scala.collection.TraversableLike$WithFilter.foreach(TraversableLike.scala:732)
	at org.apache.spark.util.FieldAccessFinder$$anon$3.visitMethodInsn(ClosureCleaner.scala:500)
	at org.apache.xbean.asm6.ClassReader.readCode(ClassReader.java:2175)
	at org.apache.xbean.asm6.ClassReader.readMethod(ClassReader.java:1238)
	at org.apache.xbean.asm6.ClassReader.accept(ClassReader.java:631)
	at org.apache.xbean.asm6.ClassReader.accept(ClassReader.java:355)
	at org.apache.spark.util.ClosureCleaner$$anonfun$org$apache$spark$util$ClosureCleaner$$clean$14.apply(ClosureCleaner.scala:307)
	at org.apache.spark.util.ClosureCleaner$$anonfun$org$apache$spark$util$ClosureCleaner$$clean$14.apply(ClosureCleaner.scala:306)
	at scala.collection.immutable.List.foreach(List.scala:392)
	at org.apache.spark.util.ClosureCleaner$.org$apache$spark$util$ClosureCleaner$$clean(ClosureCleaner.scala:306)
	at org.apache.spark.util.ClosureCleaner$.clean(ClosureCleaner.scala:162)
	at org.apache.spark.SparkContext.clean(SparkContext.scala:2326)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2100)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2126)
	at org.apache.spark.rdd.RDD$$anonfun$collect$1.apply(RDD.scala:945)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:363)
	at org.apache.spark.rdd.RDD.collect(RDD.scala:944)
	at org.apache.spark.RangePartitioner$.sketch(Partitioner.scala:309)
	at org.apache.spark.RangePartitioner.<init>(Partitioner.scala:171)
	at org.apache.spark.sql.execution.exchange.ShuffleExchangeExec$.prepareShuffleDependency(ShuffleExchangeExec.scala:224)
	at org.apache.spark.sql.execution.exchange.ShuffleExchangeExec.prepareShuffleDependency(ShuffleExchangeExec.scala:91)
	at org.apache.spark.sql.execution.exchange.ShuffleExchangeExec$$anonfun$doExecute$1.apply(ShuffleExchangeExec.scala:128)
	at org.apache.spark.sql.execution.exchange.ShuffleExchangeExec$$anonfun$doExecute$1.apply(ShuffleExchangeExec.scala:119)
	at org.apache.spark.sql.catalyst.errors.package$.attachTree(package.scala:52)
	... 37 more