# APACHE SPARK CLUSTERING

## Spark Initialization

In [1]:
# Import findspark to read SPARK_HOME and HADOOP_HOME
import findspark
findspark.init()

In [2]:
# Import required library
from pyspark.sql import SparkSession

# Create Spark Session
spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .getOrCreate()

In [3]:
# Print Spark object ID
print(spark)

<pyspark.sql.session.SparkSession object at 0x112b4b8d0>

## Loading Data using Spark

In [4]:
df = spark.read.csv("/Users/gunstringer/Downloads/epa_hap_daily_summary.csv", header=True, inferSchema=True)

In [5]:
df.show()

+----------+-----------+--------+--------------+---+---------+-----------+-------+--------------------+---------------+------------------+-------------------+--------------------+----------+-----------------+-------------------+---------------+---------------+--------------+----+-----------+--------------------+--------------------+--------------------+------------+----------------+-------------+--------------------+-------------------+
|state_code|county_code|site_num|parameter_code|poc| latitude|  longitude|  datum|      parameter_name|sample_duration|pollutant_standard|         date_local|    units_of_measure|event_type|observation_count|observation_percent|arithmetic_mean|first_max_value|first_max_hour| aqi|method_code|         method_name|     local_site_name|             address|  state_name|     county_name|    city_name|           cbsa_name|date_of_last_change|
+----------+-----------+--------+--------------+---+---------+-----------+-------+--------------------+---------------+------------------+-------------------+--------------------+----------+-----------------+-------------------+---------------+---------------+--------------+----+-----------+--------------------+--------------------+--------------------+------------+----------------+-------------+--------------------+-------------------+
|        42|        125|    5001|         88103|  5|40.445278| -80.420833|  WGS84|    Arsenic PM2.5 LC|        24 HOUR|              null|2005-12-30 00:00:00|Micrograms/cubic ...|      None|                1|              100.0|          0.003|          0.003|             0|null|        811|Met OneSASS Teflo...|                null|HILLMAN STATE PAR...|Pennsylvania|      Washington|Not in a city|       Pittsburgh PA|2015-07-22 00:00:00|
|        48|        439|    1002|         43843| 15|32.805818| -97.356568|  WGS84|  Ethylene dibromide|        24 HOUR|              null|2013-09-19 00:00:00|Parts per billion...|      None|                1|              100.0|            0.0|            0.0|             0|null|        175|Passivated Canist...|Fort Worth Northwest|       3317 Ross Ave|       Texas|         Tarrant|   Fort Worth|Dallas-Fort Worth...|2014-03-25 00:00:00|
|        22|        127|    9000|         88128|  1|32.057581| -92.435157|  WGS84|       Lead PM2.5 LC|        24 HOUR|              null|2001-11-12 00:00:00|Micrograms/cubic ...|      None|                1|              100.0|        0.00228|        0.00228|             0|null|        802|IMPROVE Module A ...|                null|               Sikes|   Louisiana|            Winn|Not in a city|                null|2015-07-22 00:00:00|
|        18|         89|      22|         45201|  1| 41.60668| -87.304729|  WGS84|             Benzene|         1 HOUR|              null|2016-05-23 00:00:00|Parts per billion...|      None|               23|               96.0|       0.413913|            1.4|             2|null|        128|PRECONCENTRATION ...|Gary-IITRI/ 1219....|201 MISSISSIPPI S...|     Indiana|            Lake|         Gary|Chicago-Napervill...|2017-02-20 00:00:00|
|         6|         89|    3003|         88136|  1| 40.53999| -121.57646|  NAD83|     Nickel PM2.5 LC|        24 HOUR|              null|2001-08-02 00:00:00|Micrograms/cubic ...|      None|                1|              100.0|         1.3E-4|         1.3E-4|             0|null|        802|IMPROVE Module A ...|Lassen Volcanic N...|MANZANITA LAKE RS...|  California|          Shasta|Not in a city|          Redding CA|2015-07-22 00:00:00|
|        26|        163|      33|         82128|  1|42.306674| -83.148754|  WGS84|       Lead PM10 STP|        24 HOUR|              null|2008-10-03 00:00:00|Micrograms/cubic ...|      None|                1|              100.0|         0.0163|         0.0163|             0|null|        109|Hi Vol SA/GMW 321...|PROPERTY OWNED BY...|        2842 WYOMING|    Michigan|           Wayne|     Dearborn|Detroit-Warren-De...|2015-07-22 00:00:00|
|         6|         83|    9000|         88128|  1|34.733889|-120.008349|  WGS84|       Lead PM2.5 LC|        24 HOUR|              null|2015-08-04 00:00:00|Micrograms/cubic ...|      None|                1|              100.0|            0.0|            0.0|             0|null|        800|IMPROVE Module A ...|San Rafael Wilder...|          San Rafael|  California|   Santa Barbara|Not in a city|Santa Maria-Santa...|2016-08-30 00:00:00|
|        72|         61|       1|         88136|  5|18.425652| -66.115846|  WGS84|     Nickel PM2.5 LC|        24 HOUR|              null|2002-10-29 00:00:00|Micrograms/cubic ...|      None|                1|              100.0|         0.0127|         0.0127|             0|null|        811|Met One SASS Tefl...|                null|USGS AND WATER RE...| Puerto Rico|        Guaynabo|     Guaynabo|San Juan-Carolina...|2015-07-22 00:00:00|
|        29|        510|      85|         43505|  6|38.656498| -90.198646|  NAD83|Acrolein - Unveri...|        24 HOUR|              null|2006-02-10 00:00:00|Parts per billion...|      None|                1|              100.0|            0.0|            0.0|             0|null|        101|CANISTER SUBAMBIE...|        Blair Street|BLAIR STREET: 324...|    Missouri|  St. Louis City|    St. Louis|     St. Louis MO-IL|2015-07-22 00:00:00|
|         6|         77|    1002|         12112|  8|37.950741|-121.268523|  NAD83|  Chromium (TSP) STP|        24 HOUR|              null|1992-10-03 00:00:00|Micrograms/cubic ...|      None|                1|              100.0|          0.003|          0.003|             0|null|        304|LO-VOL-XONTECH 92...|   Stockton-Hazelton|HAZELTON-HD STOCKTON|  California|     San Joaquin|     Stockton|    Stockton-Lodi CA|2013-06-11 00:00:00|
|        24|        510|       6|         43831|  1|39.340556| -76.582222|  WGS84|cis-13-Dichloropr...|        24 HOUR|              null|2008-10-27 00:00:00|Parts per billion...|      None|                1|              100.0|            0.0|            0.0|             0|null|        150|SS 6L- PRESSURIZE...|    Northeast Police|Northeast  Police...|    Maryland|Baltimore (City)|    Baltimore|Baltimore-Columbi...|2013-06-11 00:00:00|
|        49|         17|     101|         88132|  1|37.618383|-112.174368|  WGS84|  Manganese PM2.5 LC|        24 HOUR|              null|2010-05-11 00:00:00|Micrograms/cubic ...|      None|                1|              100.0|          0.001|          0.001|             0|null|        800|IMPROVE Module A ...|                null|     Bryce Canyon NP|        Utah|        Garfield|Not in a city|                null|2015-07-28 00:00:00|
|        16|         23|     101|         88136|  1|43.460556|-113.562222|  WGS84|     Nickel PM2.5 LC|        24 HOUR|              null|2014-12-07 00:00:00|Micrograms/cubic ...|      None|                1|              100.0|            0.0|            0.0|             0|null|        800|IMPROVE Module A ...|Craters of the Mo...|CRATERS OF THE MO...|       Idaho|           Butte|Not in a city|      Idaho Falls ID|2015-07-31 00:00:00|
|        26|         77|     905|         82128|  1|42.278056| -85.541944|UNKNOWN|       Lead PM10 STP|        24 HOUR|              null|1994-04-08 00:00:00|Micrograms/cubic ...|      None|                1|              100.0|           0.01|           0.01|             0|null|        103|HI-VOL-WEDDING-IN...|                null|FAIRGROUNDS 2500 ...|    Michigan|       Kalamazoo|    Kalamazoo|Kalamazoo-Portage MI|2013-06-11 00:00:00|
|        48|        141|      44|         43824|  3|31.765685|-106.455227|  NAD83|   Trichloroethylene|        24 HOUR|              null|2006-05-05 00:00:00|Parts per billion...|      None|                1|              100.0|           0.01|           0.01|             0|null|        175|Passivated Canist...|    El Paso Chamizal|800 S San Marcial...|       Texas|         El Paso|      El Paso|          El Paso TX|2013-06-11 00:00:00|
|        48|        183|       1|         43817|  1|32.378682| -94.711811|  NAD83| Tetrachloroethylene|        24 HOUR|              null|2000-04-12 00:00:00|Parts per billion...|      None|                1|              100.0|            0.0|            0.0|             0|null|        149|6L SUBATM CANISTE...|            Longview|Gregg Co Airport ...|       Texas|           Gregg|     Longview|         Longview TX|2013-06-11 00:00:00|
|        48|        141|      44|         43218|  1|31.765685|-106.455227|  NAD83|        13-Butadiene|         1 HOUR|              null|2002-07-16 00:00:00|Parts per billion...|      None|               22|               92.0|       0.595455|            1.6|             5|null|        128|PRECONCENTRATION ...|    El Paso Chamizal|800 S San Marcial...|       Texas|         El Paso|      El Paso|          El Paso TX|2013-06-11 00:00:00|
|        32|         33|     101|         88112|  1| 39.00512| -114.21593|  NAD83|   Chromium PM2.5 LC|        24 HOUR|              null|2001-11-09 00:00:00|Micrograms/cubic ...|      None|                1|              100.0|            0.0|            0.0|             0|null|        802|IMPROVE Module A ...|Great Basin Natio...|GREAT BASIN NATIO...|      Nevada|      White Pine|Not in a city|                null|2015-07-22 00:00:00|
|        27|        163|     436|         43803|  2| 44.84737|   -92.9954|  WGS84|          Chloroform|        24 HOUR|              null|2011-03-28 00:00:00|Parts per billion...|      None|                1|              100.0|           0.01|           0.01|             0|null|        113|SS-CANISTER-PRESS...|             MPC 436|    649 FIFTH STREET|   Minnesota|      Washington|St. Paul Park|Minneapolis-St. P...|2013-06-10 00:00:00|
|        34|         39|       4|         88132|  5| 40.64144| -74.208365|  WGS84|  Manganese PM2.5 LC|        24 HOUR|              null|2002-03-24 00:00:00|Micrograms/cubic ...|      None|                1|              100.0|         0.0043|         0.0043|             0|null|        811|Met One SASS Tefl...|       Elizabeth Lab|Interchange 13 Ne...|  New Jersey|           Union|    Elizabeth|New York-Newark-J...|2015-07-22 00:00:00|
+----------+-----------+--------+--------------+---+---------+-----------+-------+--------------------+---------------+------------------+-------------------+--------------------+----------+-----------------+-------------------+---------------+---------------+--------------+----+-----------+--------------------+--------------------+--------------------+------------+----------------+-------------+--------------------+-------------------+
only showing top 20 rows

In [6]:
df.printSchema()

root
 |-- state_code: integer (nullable = true)
 |-- county_code: integer (nullable = true)
 |-- site_num: integer (nullable = true)
 |-- parameter_code: integer (nullable = true)
 |-- poc: integer (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- datum: string (nullable = true)
 |-- parameter_name: string (nullable = true)
 |-- sample_duration: string (nullable = true)
 |-- pollutant_standard: string (nullable = true)
 |-- date_local: timestamp (nullable = true)
 |-- units_of_measure: string (nullable = true)
 |-- event_type: string (nullable = true)
 |-- observation_count: integer (nullable = true)
 |-- observation_percent: double (nullable = true)
 |-- arithmetic_mean: double (nullable = true)
 |-- first_max_value: double (nullable = true)
 |-- first_max_hour: integer (nullable = true)
 |-- aqi: string (nullable = true)
 |-- method_code: integer (nullable = true)
 |-- method_name: string (nullable = true)
 |-- local_site_name: string (nullable = true)
 |-- address: string (nullable = true)
 |-- state_name: string (nullable = true)
 |-- county_name: string (nullable = true)
 |-- city_name: string (nullable = true)
 |-- cbsa_name: string (nullable = true)
 |-- date_of_last_change: timestamp (nullable = true)

In [7]:
# Register the DataFrame as a SQL temporary view
df.createOrReplaceTempView("pollution")

In [8]:
row_count = spark.sql ("SELECT COUNT(1)FROM pollution")

In [9]:
row_count.show()

+--------+
|count(1)|
+--------+
| 8097069|
+--------+

In [10]:
df.count()

8097069

In [11]:
data = spark.sql("SELECT latitude, longitude, parameter_name, arithmetic_mean, state_name FROM pollution")

In [12]:
data.show()

+---------+-----------+--------------------+---------------+------------+
| latitude|  longitude|      parameter_name|arithmetic_mean|  state_name|
+---------+-----------+--------------------+---------------+------------+
|40.445278| -80.420833|    Arsenic PM2.5 LC|          0.003|Pennsylvania|
|32.805818| -97.356568|  Ethylene dibromide|            0.0|       Texas|
|32.057581| -92.435157|       Lead PM2.5 LC|        0.00228|   Louisiana|
| 41.60668| -87.304729|             Benzene|       0.413913|     Indiana|
| 40.53999| -121.57646|     Nickel PM2.5 LC|         1.3E-4|  California|
|42.306674| -83.148754|       Lead PM10 STP|         0.0163|    Michigan|
|34.733889|-120.008349|       Lead PM2.5 LC|            0.0|  California|
|18.425652| -66.115846|     Nickel PM2.5 LC|         0.0127| Puerto Rico|
|38.656498| -90.198646|Acrolein - Unveri...|            0.0|    Missouri|
|37.950741|-121.268523|  Chromium (TSP) STP|          0.003|  California|
|39.340556| -76.582222|cis-13-Dichloropr...|            0.0|    Maryland|
|37.618383|-112.174368|  Manganese PM2.5 LC|          0.001|        Utah|
|43.460556|-113.562222|     Nickel PM2.5 LC|            0.0|       Idaho|
|42.278056| -85.541944|       Lead PM10 STP|           0.01|    Michigan|
|31.765685|-106.455227|   Trichloroethylene|           0.01|       Texas|
|32.378682| -94.711811| Tetrachloroethylene|            0.0|       Texas|
|31.765685|-106.455227|        13-Butadiene|       0.595455|       Texas|
| 39.00512| -114.21593|   Chromium PM2.5 LC|            0.0|      Nevada|
| 44.84737|   -92.9954|          Chloroform|           0.01|   Minnesota|
| 40.64144| -74.208365|  Manganese PM2.5 LC|         0.0043|  New Jersey|
+---------+-----------+--------------------+---------------+------------+
only showing top 20 rows

## Clustering Process
Tahap-tahap yang perlu dilakukan adalah sebagai berikut
### 1. Assembling Vector
Library Spark ML hanya menerima data input dalam bentuk vektor. Oleh karena itu, kita perlu menggabungkan kolom-kolom ke dalam sebuah vektor.
Misal apabila kita memiliki kolom latitude dan longitude yang ingin dijadikan sebagai sebuah input, maka kita harus menjadikannya menjadi [latitude, longitude].
### 2. Train model
Proses training dilakukan dengan memasukkan data latih ke dalam instance dengan mengeset beberapa parameter. Untuk K-Means hanya memerlukan parameter jumlah cluster (k) dan seed (randomness).
### 3. Prediksi
Proses prediksi dilakukan dengan memasukkan data uji ke dalam model yang telah dibuat.
### 4. Evaluasi
Proses evaluasi dilakukan sesuai dengan algoritma yang dipakai. Untuk K-Means evaluasi yang dapat digunakan adalah Silhouette Evaluation.

In [13]:
# assembling vector
from pyspark.ml.feature import VectorAssembler

assembler = VectorAssembler(
    inputCols=["latitude", "longitude"],
    outputCol='features')

data = assembler.transform(data)
data.show()

+---------+-----------+--------------------+---------------+------------+--------------------+
| latitude|  longitude|      parameter_name|arithmetic_mean|  state_name|            features|
+---------+-----------+--------------------+---------------+------------+--------------------+
|40.445278| -80.420833|    Arsenic PM2.5 LC|          0.003|Pennsylvania|[40.445278,-80.42...|
|32.805818| -97.356568|  Ethylene dibromide|            0.0|       Texas|[32.805818,-97.35...|
|32.057581| -92.435157|       Lead PM2.5 LC|        0.00228|   Louisiana|[32.057581,-92.43...|
| 41.60668| -87.304729|             Benzene|       0.413913|     Indiana|[41.60668,-87.304...|
| 40.53999| -121.57646|     Nickel PM2.5 LC|         1.3E-4|  California|[40.53999,-121.57...|
|42.306674| -83.148754|       Lead PM10 STP|         0.0163|    Michigan|[42.306674,-83.14...|
|34.733889|-120.008349|       Lead PM2.5 LC|            0.0|  California|[34.733889,-120.0...|
|18.425652| -66.115846|     Nickel PM2.5 LC|         0.0127| Puerto Rico|[18.425652,-66.11...|
|38.656498| -90.198646|Acrolein - Unveri...|            0.0|    Missouri|[38.656498,-90.19...|
|37.950741|-121.268523|  Chromium (TSP) STP|          0.003|  California|[37.950741,-121.2...|
|39.340556| -76.582222|cis-13-Dichloropr...|            0.0|    Maryland|[39.340556,-76.58...|
|37.618383|-112.174368|  Manganese PM2.5 LC|          0.001|        Utah|[37.618383,-112.1...|
|43.460556|-113.562222|     Nickel PM2.5 LC|            0.0|       Idaho|[43.460556,-113.5...|
|42.278056| -85.541944|       Lead PM10 STP|           0.01|    Michigan|[42.278056,-85.54...|
|31.765685|-106.455227|   Trichloroethylene|           0.01|       Texas|[31.765685,-106.4...|
|32.378682| -94.711811| Tetrachloroethylene|            0.0|       Texas|[32.378682,-94.71...|
|31.765685|-106.455227|        13-Butadiene|       0.595455|       Texas|[31.765685,-106.4...|
| 39.00512| -114.21593|   Chromium PM2.5 LC|            0.0|      Nevada|[39.00512,-114.21...|
| 44.84737|   -92.9954|          Chloroform|           0.01|   Minnesota| [44.84737,-92.9954]|
| 40.64144| -74.208365|  Manganese PM2.5 LC|         0.0043|  New Jersey|[40.64144,-74.208...|
+---------+-----------+--------------------+---------------+------------+--------------------+
only showing top 20 rows

In [14]:
# train model

# Train model
from pyspark.ml.clustering import KMeans
from pyspark.ml.evaluation import ClusteringEvaluator

kmeans = KMeans().setK(10).setSeed(1)
model = kmeans.fit(data)

In [23]:
# Make a prediction
predictions = model.transform(data)
predictions.show(5)

+---------+----------+------------------+---------------+------------+--------------------+----------+
| latitude| longitude|    parameter_name|arithmetic_mean|  state_name|            features|prediction|
+---------+----------+------------------+---------------+------------+--------------------+----------+
|40.445278|-80.420833|  Arsenic PM2.5 LC|          0.003|Pennsylvania|[40.445278,-80.42...|         6|
|32.805818|-97.356568|Ethylene dibromide|            0.0|       Texas|[32.805818,-97.35...|         0|
|32.057581|-92.435157|     Lead PM2.5 LC|        0.00228|   Louisiana|[32.057581,-92.43...|         0|
| 41.60668|-87.304729|           Benzene|       0.413913|     Indiana|[41.60668,-87.304...|         6|
| 40.53999|-121.57646|   Nickel PM2.5 LC|         1.3E-4|  California|[40.53999,-121.57...|         4|
+---------+----------+------------------+---------------+------------+--------------------+----------+
only showing top 5 rows

In [16]:
# Evaluate clustering by computing Silhouette score
evaluator = ClusteringEvaluator()

silhouette = evaluator.evaluate(predictions)
print("Silhouette with squared euclidean distance = " + str(silhouette))

Silhouette with squared euclidean distance = 0.625198998071943

In [17]:
# Shows the result
centers = model.clusterCenters()
print("Cluster Centers: ")
for center in centers:
    print(center)

Cluster Centers:
[ 31.04103121 -95.55614789]
[  37.71943058 -109.05450872]
[ 41.13987492 -74.40735047]
[  26.62122815 -157.23530063]
[  36.57061666 -119.6290823 ]
[  48.16690446 -124.58056784]
[ 40.84274433 -85.502848  ]
[ 32.14282485 -81.88952483]
[0. 0.]
[ 43.71027892 -94.38379329]

In [20]:
# Visualization using pixiedust
import pixiedust

Table service_connections created successfully

In [21]:
display(predictions)

In [48]:
data2 = spark.sql ("SELECT latitude, longitude, state_name, arithmetic_mean, units_of_measure FROM pollution\
                        WHERE parameter_name = 'Benzene'")
data2.show()

+---------+-----------+-------------+---------------+--------------------+
| latitude|  longitude|   state_name|arithmetic_mean|    units_of_measure|
+---------+-----------+-------------+---------------+--------------------+
| 41.60668| -87.304729|      Indiana|       0.413913|Parts per billion...|
|39.297733| -76.604603|     Maryland|            1.2|Parts per billion...|
| 40.69454|  -73.92769|     New York|            2.5|Parts per billion...|
|41.807776| -71.415105| Rhode Island|          1.962|Parts per billion...|
|37.687526|-121.784217|   California|       1.799496|Parts per billion...|
|29.897516| -93.991084|        Texas|            2.4|Parts per billion...|
|39.758855| -86.115415|      Indiana|       0.143043|Parts per billion...|
|29.716611| -95.222467|        Texas|           6.72|Parts per billion...|
| 33.92086| -116.85841|   California|           1.18|Parts per billion...|
|33.845741| -84.213398|      Georgia|            3.2|Parts per billion...|
|29.706249|  -95.26113|        Texas|       0.488636|Parts per billion...|
|27.517449| -99.515219|        Texas|            2.1|Parts per billion...|
|26.309858| -98.183101|        Texas|            0.7|Parts per billion...|
|25.892518|  -97.49383|        Texas|           10.6|Parts per billion...|
|44.351697|  -68.22698|        Maine|       0.206667|Parts per billion...|
|  33.9285|  -85.04534|      Georgia|            0.0|Parts per billion...|
|36.204902| -95.976537|     Oklahoma|           2.34|Parts per billion...|
|42.474642| -70.970816|Massachusetts|       1.956957|Parts per billion...|
|40.853579| -73.966212|   New Jersey|       1.195455|Parts per billion...|
|34.421389|-119.701111|   California|            6.0|Parts per billion...|
+---------+-----------+-------------+---------------+--------------------+
only showing top 20 rows

In [49]:
data2.count()

469375

In [50]:
assembler = VectorAssembler(
    inputCols=["arithmetic_mean"],
    outputCol='features')

data2 = assembler.transform(data2)
data2.show()

+---------+-----------+-------------+---------------+--------------------+----------+
| latitude|  longitude|   state_name|arithmetic_mean|    units_of_measure|  features|
+---------+-----------+-------------+---------------+--------------------+----------+
| 41.60668| -87.304729|      Indiana|       0.413913|Parts per billion...|[0.413913]|
|39.297733| -76.604603|     Maryland|            1.2|Parts per billion...|     [1.2]|
| 40.69454|  -73.92769|     New York|            2.5|Parts per billion...|     [2.5]|
|41.807776| -71.415105| Rhode Island|          1.962|Parts per billion...|   [1.962]|
|37.687526|-121.784217|   California|       1.799496|Parts per billion...|[1.799496]|
|29.897516| -93.991084|        Texas|            2.4|Parts per billion...|     [2.4]|
|39.758855| -86.115415|      Indiana|       0.143043|Parts per billion...|[0.143043]|
|29.716611| -95.222467|        Texas|           6.72|Parts per billion...|    [6.72]|
| 33.92086| -116.85841|   California|           1.18|Parts per billion...|    [1.18]|
|33.845741| -84.213398|      Georgia|            3.2|Parts per billion...|     [3.2]|
|29.706249|  -95.26113|        Texas|       0.488636|Parts per billion...|[0.488636]|
|27.517449| -99.515219|        Texas|            2.1|Parts per billion...|     [2.1]|
|26.309858| -98.183101|        Texas|            0.7|Parts per billion...|     [0.7]|
|25.892518|  -97.49383|        Texas|           10.6|Parts per billion...|    [10.6]|
|44.351697|  -68.22698|        Maine|       0.206667|Parts per billion...|[0.206667]|
|  33.9285|  -85.04534|      Georgia|            0.0|Parts per billion...|     [0.0]|
|36.204902| -95.976537|     Oklahoma|           2.34|Parts per billion...|    [2.34]|
|42.474642| -70.970816|Massachusetts|       1.956957|Parts per billion...|[1.956957]|
|40.853579| -73.966212|   New Jersey|       1.195455|Parts per billion...|[1.195455]|
|34.421389|-119.701111|   California|            6.0|Parts per billion...|     [6.0]|
+---------+-----------+-------------+---------------+--------------------+----------+
only showing top 20 rows

In [51]:
kmeans = KMeans().setK(10).setSeed(1)
model = kmeans.fit(data2)

In [52]:
# Make a prediction
predictions2 = model.transform(data2)
predictions2.show(5)

+---------+-----------+------------+---------------+--------------------+----------+----------+
| latitude|  longitude|  state_name|arithmetic_mean|    units_of_measure|  features|prediction|
+---------+-----------+------------+---------------+--------------------+----------+----------+
| 41.60668| -87.304729|     Indiana|       0.413913|Parts per billion...|[0.413913]|         0|
|39.297733| -76.604603|    Maryland|            1.2|Parts per billion...|     [1.2]|         0|
| 40.69454|  -73.92769|    New York|            2.5|Parts per billion...|     [2.5]|         8|
|41.807776| -71.415105|Rhode Island|          1.962|Parts per billion...|   [1.962]|         0|
|37.687526|-121.784217|  California|       1.799496|Parts per billion...|[1.799496]|         0|
+---------+-----------+------------+---------------+--------------------+----------+----------+
only showing top 5 rows

In [59]:
# Register the DataFrame as a SQL temporary view
predictions2.createOrReplaceTempView("predictions2")
query2 = spark.sql("SELECT AVG(latitude), AVG(longitude),state_name, AVG(arithmetic_mean) from predictions2\
                   group by state_name\
                   order by avg(arithmetic_mean) DESC");
query2.show()

+------------------+-------------------+-----------------+--------------------+
|     avg(latitude)|     avg(longitude)|       state_name|avg(arithmetic_mean)|
+------------------+-------------------+-----------------+--------------------+
| 32.21014712278483|-112.96015111772151|Country Of Mexico|   8.708797468354431|
| 32.87814593933739| -87.06866805926266|          Alabama|   6.430967802146523|
| 38.48754786792453| -95.83892935849056|           Kansas|   5.406358490566038|
|61.205861000000006|        -149.824602|           Alaska|   4.649691056910569|
|35.311346510971795|-106.84987212225704|       New Mexico|  4.2419974639498434|
|38.628729420659546| -90.19782182825128|         Missouri|  4.0470664072806475|
| 39.54561878118746|-106.96211211229695|         Colorado|   3.530716491661107|
| 33.44295241512177|-111.95875111741199|          Arizona|  3.2813660599781884|
|30.588670533176707| -97.46160633335236|            Texas|   3.165615802749503|
| 34.26485022727273| -92.66971016666668|         Arkansas|  3.1010606060606065|
|40.866859675182475|-111.89943271532842|             Utah|   3.088827945776851|
|18.427557153992396| -66.37659410076049|      Puerto Rico|   3.016304182509505|
|35.854942859389226|-119.77933423548171|       California|  2.9796335305933703|
|39.812265977500815| -83.04639036468113|             Ohio|    2.78797701521528|
|39.264823784073954| -76.57665613529157|         Maryland|  2.5123662364128325|
| 41.70625522269081| -75.12510660881051|         New York|  2.5023879841191494|
| 44.88767309317584|-116.69242518110241|            Idaho|  2.4039002624671917|
| 27.73119258217335| -81.67510025930719|          Florida|  2.4032083447717723|
|43.017066249026264| -84.04779371010727|         Michigan|   2.370403475363904|
|  30.4673266516541| -91.20648056721609|        Louisiana|  2.3645278055383474|
+------------------+-------------------+-----------------+--------------------+
only showing top 20 rows

In [60]:
query2.count()

51

In [62]:
assembler = VectorAssembler(
    inputCols=["avg(arithmetic_mean)"],
    outputCol='features')

data3 = assembler.transform(query2)
data3.show()

+------------------+-------------------+-----------------+--------------------+--------------------+
|     avg(latitude)|     avg(longitude)|       state_name|avg(arithmetic_mean)|            features|
+------------------+-------------------+-----------------+--------------------+--------------------+
| 32.21014712278483|-112.96015111772151|Country Of Mexico|   8.708797468354431| [8.708797468354431]|
| 32.87814593933739| -87.06866805926266|          Alabama|   6.430967802146523| [6.430967802146523]|
| 38.48754786792453| -95.83892935849056|           Kansas|   5.406358490566038| [5.406358490566038]|
|61.205861000000006|        -149.824602|           Alaska|   4.649691056910569| [4.649691056910569]|
|35.311346510971795|-106.84987212225704|       New Mexico|  4.2419974639498434|[4.2419974639498434]|
|38.628729420659546| -90.19782182825128|         Missouri|  4.0470664072806475|[4.0470664072806475]|
| 39.54561878118746|-106.96211211229695|         Colorado|   3.530716491661107| [3.530716491661107]|
| 33.44295241512177|-111.95875111741199|          Arizona|  3.2813660599781884|[3.2813660599781884]|
|30.588670533176707| -97.46160633335236|            Texas|   3.165615802749503| [3.165615802749503]|
| 34.26485022727273| -92.66971016666668|         Arkansas|  3.1010606060606065|[3.1010606060606065]|
|40.866859675182475|-111.89943271532842|             Utah|   3.088827945776851| [3.088827945776851]|
|18.427557153992396| -66.37659410076049|      Puerto Rico|   3.016304182509505| [3.016304182509505]|
|35.854942859389226|-119.77933423548171|       California|  2.9796335305933703|[2.9796335305933703]|
|39.812265977500815| -83.04639036468113|             Ohio|    2.78797701521528|  [2.78797701521528]|
|39.264823784073954| -76.57665613529157|         Maryland|  2.5123662364128325|[2.5123662364128325]|
| 41.70625522269081| -75.12510660881051|         New York|  2.5023879841191494|[2.5023879841191494]|
| 44.88767309317584|-116.69242518110241|            Idaho|  2.4039002624671917|[2.4039002624671917]|
| 27.73119258217335| -81.67510025930719|          Florida|  2.4032083447717723|[2.4032083447717723]|
|43.017066249026264| -84.04779371010727|         Michigan|   2.370403475363904| [2.370403475363904]|
|  30.4673266516541| -91.20648056721609|        Louisiana|  2.3645278055383474|[2.3645278055383474]|
+------------------+-------------------+-----------------+--------------------+--------------------+
only showing top 20 rows

In [63]:
kmeans = KMeans().setK(3).setSeed(1)
model = kmeans.fit(data3)

In [64]:
# Shows the result
centers = model.clusterCenters()
print("Cluster Centers: ")
for center in centers:
    print(center)

Cluster Centers:
[1.94475887]
[8.70879747]
[4.71779962]

In [65]:
predictions3 = model.transform(data3)
predictions3.show(5)

+------------------+-------------------+-----------------+--------------------+--------------------+----------+
|     avg(latitude)|     avg(longitude)|       state_name|avg(arithmetic_mean)|            features|prediction|
+------------------+-------------------+-----------------+--------------------+--------------------+----------+
| 32.21014712278483|-112.96015111772151|Country Of Mexico|   8.708797468354431| [8.708797468354431]|         1|
| 32.87814593933739| -87.06866805926266|          Alabama|   6.430967802146523| [6.430967802146523]|         2|
| 38.48754786792453| -95.83892935849056|           Kansas|   5.406358490566038| [5.406358490566038]|         2|
|61.205861000000006|        -149.824602|           Alaska|   4.649691056910569| [4.649691056910569]|         2|
|35.311346510971795|-106.84987212225704|       New Mexico|  4.2419974639498434|[4.2419974639498434]|         2|
+------------------+-------------------+-----------------+--------------------+--------------------+----------+
only showing top 5 rows

In [66]:
display(predictions3)

In [53]:
display(predictions2)